.nav-pills{
  font-family: ariel;
  font-size: 20px;
  background-color: gray;
}

body{
  background-color:yellow;
}

.pageOne{
  background:url
("https://www.stockvault.net/photo/136164/floral-frame");
  }